@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --primary-font-color: #EEEEEE;
    --bg-color: #191922;
    --white: #fff;
    --black: #000;
    --primary-color: #FFD952;
    --dark-grey: #474545;
    --medium-grey: #ADA2A2;
    --light-grey: #D9D9D9;
}


body {
    font-family: "Inter", sans-serif;
    color: var(--primary-font-color);
    background-color: var(--bg-color);
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    color: var(--primary-font-color);
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--primary-font-color);
    text-decoration: none;
    transition: all .4s;
}

a:hover {
    color: var(--primary-color);
}

img {
    width: 100%;
}

.btn {
    padding: 10px 30px;
}

.btn-brand {
    font-weight: 600;
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.btn-brand:hover {
    background-color: var(--white);
}

section {
    padding-top: 100px;
}

.section-title {
    margin: 50px 0;
    text-transform: capitalize;
}

.icon-box {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

.icon-box i {
    font-size: 20px;
}

.stars {
    color: var(--primary-color)
}

/* Nav */
.navbar {
    background-color: var(--bg-color);
    color: white;
    padding: 20px 50px;
}

.nav-item {
    margin: 0 20px
}

/* HERO */
#hero p {
    margin: 60px 0;
    line-height: 2;
}

#hero .input-group {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
}

#hero .input-group input {
    position: relative;
    margin: 0;
    padding: 30px;
    border-radius: 100px;
    background-color: var(--dark-grey);
    border-color: transparent;
    color: var(--primary-font-color);
    z-index: 1;
}

#hero .btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 100px;
    padding: 8px 25px;
    z-index: 2;
}

#hero .input-group input:focus {
    box-shadow: none;
}

.bg-image {
    min-height: 450px;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* SERVICES */
.service {
    border-radius: 20px;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px
}

/* PRICING */
#pricing img {
    border-radius: 75px;
}

#pricing .row-2 {
    margin: 100px 0;
}

#pricing .price-order-2 {
    display: flex;
    justify-content: flex-end;
}

/* TEAM */
.team-member {
    position: relative;
    height: 350px;
    margin-top: 50px;
}

.team-member::before {
    content: "";
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--dark-grey);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.team-member img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

/* REVIEWS */
#reviews {
    min-height: 450px;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    padding-bottom: 100px;
}

.review-carousel {
    width: 60%;
    background-color: var(--bg-color);
    margin: auto;
}

#reviews img {
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* FOOTER */
footer {
    padding: 50px 0;
}

footer .footer__logo {
    height: 50px;
    width: 150px;
}

footer .social-icons {
    font-size: 30px;
}

@media screen and (max-width: 992px) {
    #pricing .price-order-1 {
        order: 2 !important
    }

    footer {
        text-align: center;
    }
}